body{
    margin: 0;
    padding: 0;
    background: url(bg.png) no-repeat;
    background-size: cover;
}

.profile_box{
    width: 350px;
    border-radius: 10%;
    background: rgba(0, 0, 0, 0.75);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 80px;
    color: white;
}

.profile_box p{
    font-size: 23px;
    font-style: italic;
    color:rgb(253, 125, 147);
}

.profile_box h1{
    font-size: 40px;
    color: aqua;
}

.profile_box h2{
    font-size: 30px;
}

#avatar{
    border-radius: 50%;
    width: 220px;
    height: 220px;
}